<div class="row">
	<div class="col-sm-2"></div>
	<div class="col-sm=8">
		<form role="form">
			<fieldset class="col-sm-8">
				<legend>Admin Portal</legend>
				<div class="form-group col-sm-4">
					<label for="admin-user">User:</label>
					<input id="admin-user" class="form-control" type="text" name='admin-user' ng-model="admin.user">
				</div>
			
				<div class="form-group col-sm-4">
					<label for="admin-pw">Password:</label>
					<input id="admin-pw" class="form-control" type="password" name='admin-pw' ng-model="admin.pw1">
				</div>
				<div class="form-group col-sm-4">
					<label for="admin-pw2">Repeat Password:</label>
					<input id="admin-pw2" class="form-control" type="password" name='admin-pw2' ng-model="admin.pw2">
				</div>
				<button class="btn btn-block btn-danger" ng-disabled="admin.pw1 != admin.pw2 || ! admin.user || ! admin.pw1 || ! admin.pw2" ng-click="updateAdminAuth()">Submit Admin User and Password</button>
			</fieldset>
		</form>
	</div>
	<div class="col-sm-2"></div>
</div>
<div class="row">
	<div class="col-sm-12 text-danger text-center" ng-show="admin.pw1 != admin.pw2">
		Passwords do not match!
	</div>
	<div class="col-sm-12 text-danger text-center">
		{{messageAdmin}}
	</div>
</div>

<br><br><br>

<div class="row">
	<div class="col-sm-2"></div>
	<div class="col-sm=8">
		<form role="form">
			<fieldset class="col-sm-8">
				<legend>Staff Portal</legend>
				<div class="form-group col-sm-4">
					<label for="staff-user">User:</label>
					<input id="staff-user" class="form-control" type="text" name='staff-user' ng-model="staff.user">
				</div>
			
				<div class="form-group col-sm-4">
					<label for="staff-pw">Password:</label>
					<input id="staff-pw" class="form-control" type="password" name='staff-pw' ng-model="staff.pw1">
				</div>
				
				<div class="form-group col-sm-4">
					<label for="staff-pw2">Password:</label>
					<input id="staff-pw2" class="form-control" type="password" name='staff-pw2' ng-model="staff.pw2">
				</div>
				
				<button class="btn btn-block btn-danger" ng-disabled="staff.pw1 != staff.pw2 || ! staff.user || ! staff.pw1 || ! staff.pw2" ng-click="updateStaffAuth()">Submit Staff User and Password</button>
			</fieldset>
		</form>
	</div>
	<div class="col-sm-2"></div>
</div>

<div class="row">
	<div class="col-sm-12 text-danger text-center" ng-show="staff.pw1 != staff.pw2">
		Passwords do not match!
	</div>
	<div class="col-sm-12 text-danger text-center">
		{{messageStaff}}
	</div>
</div>

<script>
	$(document).ready(function() {
		$('.nav .active').removeClass("active");
		$('#passwords').addClass('active');
	});
</script>