<style>
	.selectedstudent{
		background-color: #F5F5F5;
		font-weight: bold;
	}
</style>

<div ng-controller='studentsCtrl' ng-init="getStudents()">



<!-- ======================STUDENT LIST SECTION===================== -->
	<div class="row">
		<div class="col-sm-3">
			<div class="form-group form-inline">
				<label for="name_filter">Name Filter: &nbsp</label>
				<input id="name_filter" type="text" ng-model="name_filter">
			</div>
		</div>
		<div class="col-sm-1"></div>
		<div class="col-sm-7">
			<button class="btn btn-danger col-sm-5" ng-click="newstudent()"> New Student </button>
			<div class="col-sm-2"></div>
			<button class="btn btn-danger col-sm-5" ng-click="updateStudent()" ng-disabled="formy.$pristine || formy.$invalid">Save Student</button>
		</div>
	</div>
	
	<div class="row">
		<div class="col-sm-3 col-lg-3" style="background-color: lightgray">

 			<table class="table table-hover table-condensed">
 				<thead class="col-sm-12" style="display: table-header-group;">
 					<tr><th class="col-sm-11">Student</th><th class="col-sm-1">Active</th></tr>
 				</thead>
 				<tbody class="col-sm-12" style="display: block; height: 700px; overflow-x: scroll;" >
					<tr id="{{x.id}}" ng-class="{selectedstudent: x.id == studentselectid}" ng-repeat="x in json_students | filter:name_filter | orderBy:'name_last'" ng-click="selectstudent(x)">
						<td class="col-sm-11" style="cursor:pointer">{{x.name_last}}, {{x.name_first}}</td>
						<td class="col-sm-1"><span class="glyphicon glyphicon-{{x.active=='1'?'check':'unchecked'}}"></span></td>
					</tr>
				</tbody>
 			</table>
		</div>
		<div class="col-sm-1"></div>
		<div class="col-sm-7">
		
		<form role="form" name="formy" novalidate>
			
<!-- ======================STUDENT EDIT SECTION===================== -->
				<div class="row img-rounded" style="background-color: lightgray">
					<div class="col-sm-4 text-small text-bold box-header">Student</div>
					<div class="col-sm-8 text-small text-danger">&nbsp{{save_msg}}</div>
					<div class="col-sm-12">&nbsp</div>
					
					<div class="col-sm-6">
						<div class="form-group">
							<label for="student-name-first">First Name:</label>
							<input id="student-name-first" class="form-control" type="text" name='student-name-first' ng-model="stsel.name_first">
						</div>
					</div>
					
					<div class="col-sm-6">
						<div class="form-group">
							<label for="student-name-last">Last Name:</label>
							<input id="student-name-last" class="form-control" type="text" name='student-name-last' ng-model="stsel.name_last">
						</div>
					</div>

					<div class="form-group">
						<!-- <div class="col-sm-1"></div> -->
						<div class="col-sm-3">
							<select id="active" ng-model="stsel.active" class="form-control col-sm-3">
								<option value="0">Inactive</option>
								<option value="1">Active</option>
							</select>
						</div>
					</div>
					
					<div class="col-sm-12">&nbsp</div>
				</div>
				
				<div class="row">
					<div class="col-sm-12 text-large">&nbsp</div>
				</div>
<!-- ======================PARENT 1 EDIT SECTION===================== -->
				<div class="row img-rounded" style="background-color: lightgray">
					<div class="col-sm-4 text-small box-header">Parent 1</div>
					<div class="col-sm-8 text-small ">&nbsp</div>
					<div class="col-sm-12">&nbsp</div>
					
					<div class="col-sm-6">
						<div class="form-group">
							<label for="parent1-name-first">First Name:</label>
							<input id="parent1-name-first" class="form-control" type="text" name='parent1-name-first' ng-model="stsel.p1_name_first" >
						</div>
					</div>
					
					<div class="col-sm-6">
						<div class="form-group">
							<label for="parent1-name-last">Last Name:</label>
							<input id="parent1-name-last" class="form-control" type="text" name='parent1-name-last' ng-model="stsel.p1_name_last" >
						</div>
					</div>
					
					<div class="col-sm-12">
						<div class="form-group">
							<label for="email1">Email:</label>
							<input id="email1" class="form-control" type="email" name='email1' ng-model="stsel.p1_email" >
						</div>
					</div>
					
					<div class="col-sm-3">
						<div class="form-group">
							<label for="carrier1">Carrier:</label>
							<select id="carrier1" class="form-control" name='carrier1' ng-model="stsel.p1_carrier">
								<option value="ATT">AT&T</option>
								<option value="Verizon">Verizon</option>
								<option value="Sprint">Sprint</option>
								<option value="T-Mobile">T-Mobile</option>
							</select>
						</div>
					</div>
					
					<div class="col-sm-6">
						<div class="form-group">
							<label for="mobile1">Mobile Number:</label>
							<input id="mobile1" class="form-control" type="text" name='p1_mobile' ng-model="stsel.p1_mobile" ng-blur="phone1validfunction()"><br>
						</div>
					</div>
					<div class="col-sm-3 text-warning">
						&nbsp<br>{{stsel.p1_mobile | phonevalid}}
					</div>
					
					<div class="col-sm-12">&nbsp</div>
				</div>
				
				<div class="row">
					<div class="col-sm-12 text-large">&nbsp</div>
				</div>
				
<!-- ======================PARENT 2 EDIT SECTION===================== -->
				<div class="row img-rounded" style="background-color: lightgray">
					<div class="col-sm-4 text-small text-bold box-header">Parent 2</div>
					<div class="col-sm-8 text-small ">&nbsp</div>
					<div class="col-sm-12">&nbsp</div>
					
					<div class="col-sm-6">
						<div class="form-group">
							<label for="parent2-name-first">First Name:</label>
							<input id="parent2-name-first" class="form-control" type="text" name='parent2-name-first' ng-model="stsel.p2_name_first">
						</div>
					</div>
					
					<div class="col-sm-6">
						<div class="form-group">
							<label for="parent2-name-last">Last Name:</label>
							<input id="parent2-name-last" class="form-control" type="text" name='parent2-name-last' ng-model="stsel.p2_name_last">
						</div>
					</div>
					
					<div class="col-sm-12">
						<div class="form-group">
							<label for="email2">Email:</label>
							<input id="email2" class="form-control" type="email" name='email2' ng-model="stsel.p2_email">
						</div>
					</div>
					
					<div class="col-sm-3">
						<div class="form-group">
							<label for="carrier2">Carrier:</label>
							<select id="carrier2" class="form-control" name='carrier2' ng-model="stsel.p2_carrier">
								<option value="ATT">AT&T</option>
								<option value="Verizon">Verizon</option>
								<option value="Sprint">Sprint</option>
								<option value="T-Mobile">T-Mobile</option>
							</select>
						</div>
					</div>
					
					<div class="col-sm-6">
						<div class="form-group">
							<label for="mobile2">Mobile Number:</label>
							<input id="mobile2" class="form-control" type="text" name='p2_mobile' ng-model="stsel.p2_mobile" ng-blur="phone2validfunction()">
						</div>
					</div>
					
					<div class="col-sm-3 text-warning">
						&nbsp<br>{{stsel.p2_mobile | phonevalid}}
					</div>
					
					<div class="col-sm-12">&nbsp</div>
					
				</div>
				
				<div class="row">
					<div class="col-sm-12 text-large">&nbsp</div>
				</div>
			</form>
				<div class="row">
					<div class="col-sm-12 text-right">
						<div class="col-xs-7"></div>
						<button class="btn btn-danger col-sm-5" ng-click="deletestudent()"> Delete Student </button>
					</div>
				</div>
			
		</div>
	</div>
</div>

<script>
	$(document).ready(function() {
		$('.nav .active').removeClass("active");
		$('#students').addClass('active');
	});
</script>